<div class="mx-auto  px-4 sm:px-6 lg:px-8">
  <h1 class="text-2xl font-semibold text-gray-900">Servers</h1>
</div>
<div class="mt-5 mx-auto  px-4 sm:px-6 md:px-8">
  <!-- Replace with your content -->

  <div class="flex flex-row gap-2">
    <div>
      <button (click)="createServer()" mat-raised-button>Create Server</button>
    </div>

    <div>
      <button mat-raised-button (click)="uploadSaveGame()">Upload Save Game's</button>
    </div>
    <div>
      <button mat-raised-button (click)="uploadConfig()">Upload Config's</button>
    </div>
  </div>

  <div class="mt-5">
    <app-openttd-server-table></app-openttd-server-table>
  </div>

</div>
