<h1 class="text-2xl font-semibold text-gray-900">SERVERS</h1>
<div class="relative mt-1">
  <div class="absolute inset-0 flex items-center" aria-hidden="true">
    <div class="w-full border-t border-gray-300"></div>
  </div>

</div>

<div class="mt-5">
  <!-- Replace with your content -->

  <div class="flex flex-row gap-2">
    <div>
      <button (click)="createServer()" mat-raised-button>

        NEW SERVER
        <mat-icon>dns</mat-icon>
      </button>
    </div>

    <div>
      <button mat-raised-button (click)="uploadSaveGame()">
       UPLOAD SAVE GAMES
        <mat-icon>upload_file</mat-icon>
      </button>
    </div>
    <div>
      <button mat-raised-button (click)="uploadConfig()">
        UPLOAD CONFIGS
        <mat-icon>upload_file</mat-icon>
      </button>
    </div>
  </div>

  <div class="mt-5">
    <app-openttd-server-grid></app-openttd-server-grid>
  </div>

</div>
