<div class="w-full flex flex-row">
  <mat-form-field class="w-full">
    <mat-label>{{label}}</mat-label>
    <input type="text"
           placeholder="Pick one"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete [displayWith]="fileToString" (optionSelected)="select($event)" autoActiveFirstOption
                      #auto="matAutocomplete">
      <mat-option [value]="{name:'', path:''}">

      </mat-option>
      <mat-option *ngFor="let file of filteredFiles | async" [value]="file">
        {{file.name}}
      </mat-option>
    </mat-autocomplete>
    <mat-icon matSuffix>download_for_offline</mat-icon>
    <mat-hint align="start">{{hintStart}}</mat-hint>
    <mat-hint align="end">{{hintEnd}}</mat-hint>
  </mat-form-field>
</div>
